@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

html {
  visibility: hidden;
}

html.ready {
  visibility: visible;
  transition: visibility 0s ease 0.2s;
}

::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section {
  min-height: 100vh;
  display: block;
  background-color: var(--bg-black-900);
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}
.no-animation {
  animation: none !important;
  transition: none !important;
}

.section.back-section {
  z-index: 1;
}
.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.hidden {
  display: none !important;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
section.container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}
.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  margin-top: 2.5rem;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--primary);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--primary);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.padd {
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
.contact-me {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  border-radius: 40px;
  border: none;
  display: inline-block;
  white-space: nowrap;
  background-color: var(--primary);
  color: #fff;
  margin-bottom: 4rem;
}
.contact-me:hover {
  transform: scale(1.1);
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.side-bar {
  width: 270px;
  padding: 30px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: var(--bg-black-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 10;
  border-right: 1px solid var(--bg-black-50);
  transition: all 0.3d ease;
}
.side-bar .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}
.side-bar .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.side-bar .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
.side-bar .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--primary);
  border-left: 5px solid var(--primary);
  bottom: 0;
  left: 0;
}
.side-bar .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--primary);
  border-right: 5px solid var(--primary);
  top: 0;
  right: 0;
}
.side-bar .nav-toggler {
  height: 40px;
  width: 18px;
  display: none;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.side-bar .nav-toggler span {
  height: 2px;
  width: 18px;
  background-color: var(--primary);
  display: inline-block;
  position: relative;
  padding: auto;
}
.side-bar .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--primary);
  position: absolute;
  top: -6px;
  left: 0;
}
.side-bar .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--primary);
  position: absolute;
  top: 6px;
  left: 0;
}
.side-bar .nav {
  margin-top: 50px;
}
.side-bar .nav li {
  margin-bottom: 20px;
  display: block;
}
.side-bar .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.side-bar .nav li a.active {
  color: var(--primary);
}
.side-bar .nav li a i {
  margin-right: 15px;
}
.side-bar .nav li a:hover {
  transform: scale(1.1);
}
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}
h3 .hello {
  font-size: 28px;
  margin: 15px 0;
}
h3.hello span {
  font-family: "Clicker Script";
  font-size: 30px;
  font-weight: 700;
  color: var(--primary);
}
h3 .my-skill {
  font-size: 30px;
  margin: 15px 0;
}
.typing {
  color: var(--primary);
  font-family: "Poppins";
}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--primary);
  border-right: 10px solid var(--primary);
  right: 20px;
  bottom: -40px;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--primary);
  border-left: 10px solid var(--primary);
  left: 20px;
  top: -40px;
}
.home .home-img img {
  margin: auto;
  height: 400px;
  border-radius: 5px;
}
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about .about-content .about-text h3 span {
  color: var(--primary);
}
.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-900);
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}
.about .about-content .personal-info .button {
  margin-top: 30px;
}
.about .about-content .personal-info .contact-me {
  margin-top: 25px;
}
.about .about-content .skills {
  margin-top: 40px;
  flex: 0 0 40%;
  max-width: 40%;
  margin-bottom: 4rem;
}
.about .about-content .skills .row .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-item h5 {
  font-weight: 400;
  line-height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--text-black-700);
}
.about .about-content .skills .skill-item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item {
  margin-bottom: 30px;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--primary);
}
.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.about .about-content .h3-title {
  font-size: 24px;
  margin-top: 30px;
  font-weight: 700;
  background-color: var(--text-black-700);
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .timeline {
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--primary);
}
.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--primary);
}
.about .about-content .timeline .timeline-date {
  margin-right: 5px;
}
.about .about-content .timeline .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}
.service .container {
  padding-bottom: 40px;
}
.service .service-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
.service .service-item .service-item-inner {
  background-color: var(--bg-black-100);
  color: var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
.service .service-item .service-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--primary);
  transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon {
  background-color: var(--primary);
}
.service .service-item .service-item-inner:hover .icon .fa {
  font-size: 25px;
  color: #fff;
}
.service .service-item .service-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}
.service .service-item .service-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}
.project .project-item {
  flex: 0 0 44.44%;
  max-width: 44.44%;
  margin-bottom: 30px;
  display: grid;
  grid-template-areas: "stack";
  gap: 1rem;
  position: relative;
}
.project-heading {
  color: var(--text-black-900);
}
.project .project-item-inner {
  grid-area: stack;
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  aspect-ratio: 4/5;
}

.project .project-item-inner img {
  width: 100%;
  display: block;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: contain;
}

.project-item-inner-text {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-item-inner-text h2 {
  color: var(--primary);
  margin-bottom: 10px;
}

.project-item-inner-text p {
  color: #fff;
  margin: 10px 0;
}

.project-item-inner-text .project-link {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 40px;
  border: none;
  display: inline-flex;
  margin-bottom: 1rem;
  white-space: nowrap;
  background-color: var(--primary);
  color: #fff;
}

.project-item:hover .project-item-inner-text {
  opacity: 1;
}
.project .view-more{
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 40px;
  border: none;
  display: inline-flex;
  background-color: var(--primary);
  color: #fff;
  margin-bottom: 3rem;
}
.contact-title {
  color: var(--primary);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}
.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}
.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}
.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--primary);
}
.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 15px;
}
.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}
.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact .contact-form .form-item {
  margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea .form-control {
  height: 140px;
}
.contact .contact-form .contact-me {
  height: 50px;
  padding: 0 50px;
}
/* =========================
   MEDIA QUERIES
========================= */

/* ---------- Large Tablets / Small Laptops ---------- */
@media (max-width: 1199px) {
  .side-bar {
    left: -270px;
    transition: all 0.3s ease;
  }

  .side-bar.open {
    left: 0;
  }

  .side-bar .nav-toggler {
    display: flex;
    position: fixed;
    left: 1rem;
    top: 1px;
  }

  .section {
    left: 0;
    transition: all 0.3s ease;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media (max-width: 900px) {
  .home .home-img::before,
  .home .home-img::after {
    width: 60px;
    height: 60px;
    border: none;
  }

  .home .home-img::before {
    top: -20px;
    left: 15px;
  }

  .home .home-img::after {
    bottom: -20px;
    right: 15px;
  }
}
/* ---------- Tablets / Landscape Phones ---------- */
@media (max-width: 660px) {
  .home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* adds spacing between items */
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .service .service-item,
  .project .project-item,
  .contact .contact-info-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .home .home-img {
    order: 1;
    display: block;
    flex: 0 0 100%;
    max-width: 80%;
    margin: 0 auto 25px;
    position: relative;
  }

  .home .home-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .home .home-info {
    order: 2;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img::before,
  .home .home-img::after {
    width: 40px;
    height: 40px;
    border: none;
    border-width: 4px;
  }

  .home .home-img::before {
    bottom: 8px;
    right: 8px;
  }

  .home .home-img::after {
    top: 20px;
    left: 8px;
  }
}

@media (max-width: 768px) {
  .service .service-item,
  .project .project-item,
  .contact .contact-info-item,
  .contact .contact-form .col-6,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact .contact-form .form-item {
    margin-bottom: 20px;
  }

  .section-title h2 {
    font-size: 32px;
  }

  .contact-title {
    font-size: 22px;
  }

  .contact-sub-title {
    font-size: 14px;
  }
  .home .home-img::before,
  .home .home-img::after {
    width: 50px;
    height: 50px;
    border: none;
    border-width: 8px;
  }

  .home .home-img::before {
    top: -20px;
    left: 0;
  }

  .home .home-img::after {
    bottom: 8px;
    right: -10px;
  }
}
